<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/nregex.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/nRegex.js")"></script>
</head>
<body>
  @RenderBody()
</body>
</html>
